

body{
  margin: 0;
}

.paragraph{
  font-size: 30px;
  font-family: "M PLUS 1p";
}

.big_paragraph{
  font-size: 35px;
  text-align: center;
  font-family: "M PLUS 1p";
}

.invitation{
  font-size: 35px;
  text-align: center;
  font-family: "M PLUS 1p";
}


header{
  height: 70px;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
}

.header_sp{
  display: none;
}

.menu_sp{
  display: none;
}

.menu{
  float: left;
  font-size: 0
}

.menu img{
  padding-left: 25px;
  padding-top: 23px;
  padding-bottom: 0px;
}

.news{
  background-color: #CE4444;
  height: 40px;
  width: 100%;
  color: white;
  display: inline-block;
  position: fixed;
  top: 70px;
}

.news a{
  margin:0px;
  padding-left: 25px;
  padding-top: 10px;
  font-family:sans-serif;
  display: block;
  color: white;
  text-decoration: none;
  font-family: "Sawarabi Mincho";
}

.main_img img{
  width: 100%;
  padding-top: 110px;
}

.about_kikaku{
  background-color: #23AEE5;
  width: 100%;
  height: 300px;
  text-align: center;
  margin:0 auto;
  display:block;
}

.about_kikaku p{
  color: white;
  padding-top: 50px
}

.about_title img{
  margin:0 auto;
  display:block;
  padding-top: 20px;
}

.last_year{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto
}

.last_year_circles{
  flex: auto;
  width: 50%;
  text-align: center;

}

.last_year_circles p{
  font-size: 30px;
  font-family: "M PLUS 1p";
}

.last_year_circles img{
  width:128px;
  padding-right: 70px;
}

.container{
  margin: 0 auto;
  width: 95%;
  max-width: 800px;

}

.container p{

}


.apply_btn img{
  margin:0 auto;
  display:block;
  padding-top: 10px;
  padding-bottom: 30px;
}

.wrapper{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 100px;
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}


footer{
  width: 100%;
  height: 100px;
  background-color: black;
  margin-top: 50px;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

footer p{
  font-size: 20px;
  color: white;
  padding: 40px 0px 0px 40px;
  font-family: "Sawarabi Mincho";
}

.page_title{
  height: 100px;
  width: 100%;
  background-color: #46B190;
  margin-top: 70px;
}

.page_title img{
  margin:0 auto;
  display:block;
  padding-top: 20px;
}

.schedule{
  margin-top: 20px;
}

.schedule img{
  margin:0 auto;
  display:block;
  padding-top: 10px;
  width: 600px;
}

.apply_process{
  margin:0 auto;
  display:block;
  padding-top: 20px;
}

.line_title{
  margin:0 auto;
  display:block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.line_accounts table{
  border: none;
  margin:0 auto;
  font-size: 30px;
  text-align: center;
}

.line_accounts th,td{
  padding: 10px;
  width: 200px;
  font-family: "Sawarabi Mincho";
}

.line_attention{
  text-align: center;
  font-size: 30px;
}

.news_box{
  margin-top: 30px;
}

.news_column{
  border: 1px solid #707070;
	width: 90%;
  margin: 0 auto 30px auto;
}

.news_date {
  font-size: 20px;
  font-family: "Sawarabi Mincho";
  margin: 10px 20px 0 20px;
}

.news_title {
  font-size: 40px;
  font-family: "Sawarabi Mincho";
  margin: 0 20px 0 20px;
}

.news_content {
  font-size: 20px;
  margin: 0 20px 10px 20px;
}
