html,body { height:100%; }

html{
  overflow-x: auto;
}


body{
  margin: 0;
  overflow-x: hidden;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
}

#black_wall{
  background-color: #1E3C91;
  z-index: 20;
  width: 100vw;
  height: 100%;
  position: relative;
  display: black;

  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}

#black_wall::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}


#loading img{
  z-index: 21;
  width:100px;
  display: block;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.paragraph{
  font-size: 1em;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.center{
  text-align: center;
  margin: 0 auto;
}

.mini{
  font-size: 1em;
}

.paragraph_serif{
  font-size: 1em;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
}

.paragraph_serif span{
  color: red;
}

.big_title{
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
  width: 100%;
  font-size: 7vh;
}

.big_title2{
  display: block;
  width: 100%;
  font-size: 4vh;
  display: flex;
}

.big_title3{
  display: block;
  width: 100%;
  font-size: 3em;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 5vh;
  background: linear-gradient(transparent 50%, yellow 50%);
}

.big_title4{
  background-image: url("../pic/index/bg.jpeg");
  background-size: cover;
  background-attachment: fixed;
  height: 200px;
  color: white;
  padding-top: auto;
  padding-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:25px;
  position: relative;
}

.big_title4::before{
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.5);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

.box{
  position: absolute;
  width: 100%;
}

.mini_title2{
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 25px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  background-color: yellow;
  border: 5px solid black;
  margin-bottom: 15px;
}

.btn{
  width:60%;
  height: 80px;
  margin-bottom: 15px;
  font-size: 1.3em;
  line-height: 80px;
  position: relative;
  border-radius: 5px;
}

.btn a{
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
}

.red{
  background-color: #CE4444;
  color: white;
}

.indigo{
  background-color: #4b0082;
  color: white;
}

.black{
  background-color: black;
  color: white;
}

.gray{
  background-color: #d3d3d3;
}

.fukidashi{
  width:60%;
  display: block;
  margin-bottom: 5px;
}

.left{
  margin-left: 0;
  margin-right: auto;
}

.right{
  margin-left: auto;
  margin-right: 0;
}

.paragraph span{
  color: Red;
}

.big_paragraph{
  font-size: 1.3em;
  text-align: center;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.invitation{
  font-size: 1.3em;
  text-align: center;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
}



header{
  height: 70px;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  color: white;
}

header a{
  text-decoration: none;
  color: white;
}

.header_sp{
  display: none;
}

.menu_sp{
  display: none;
}


.menu{
  float: left;
  font-size: 15;
  display:flex;
  justify-content: center;
  align-items: center;
}

.menu a{
  margin-left: 25px;
  display: flex;
  background-color: black;
}

.menu_eng{
  display: none;
  font-size: 15px;
  padding-left: 10px;
}

.news{
  background-color: #CE4444;
  height: 40px;
  width: 100%;
  color: white;
  display: inline-block;
  position: fixed;
  top: 70px;
  z-index: 10;
  display: flex;
}

.latest_news{
  margin:0px;
  margin-left: 25px;
  margin-top: 8px;
  display: block;
  color: white;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
  width: auto;
  position: relative;
  height: 23px;
}

.news a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}

/* メイン画像PC */
.slider{
  width: 100vw;
  object-fit: cover;
}

.main_img_pc_bg{
  width: 100%;
  padding-top: 110px;
  position: relative;

}

.main_img_pc_title{
  position: absolute;
  top: 180px;
  left: 60px;
  z-index: 6;
  width: 40%;
}

/* メイン画像SP */
.main_img_sp{
  display: none;
}

.about_kikaku{
  background-color: #23AEE5;
  width: 100%;
  height: 300px;
  text-align: center;
  margin:0 auto;
  display:block;
}

.about_kikaku p{
  color: white;
  padding-top: 50px
}

.about_title img{
  margin:0 auto;
  display:block;
  padding-top: 20px;
}

#about_title_2{
  width: 100%;
}

.last_year{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto
}

/*模擬と企画の違いについて*/
.about_mogi_and_kikaku{
  display: flex;
  justify-content: center;
}

.about_mogi_and_kikaku img{
  display: block;
  width:50%;
  margin: 20px;
}

.container{
  margin: 0 auto;
  width: 95%;
  max-width: 800px;

}

.apply_btn img{
  margin:0 auto;
  display:block;
  padding-top: 10px;
  padding-bottom: 30px;
}

.wrapper{
  min-height: 100vh;

  position: relative;/*←相対位置*/
  padding-bottom: 230px;
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

footer{
  width: 100%;
  background-color: #1b3988;
  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
  height: 200px;
}

.footer_from{
  height: 100px;
  padding: 40px 0px 0px 40px;
}

.footer_sns{
  display: flex;
  padding-left: 45px;
}

.footer_sns img{
  height: 30px;
  padding-right: 10px;
}

.page_title{
  height: 100px;
  width: 100%;
  background-color: #46B190;
  margin-top: 70px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  color: white;
}

.page_title p{
  font-size: 40px;
  line-height: 100px;
  color: white;
  margin: 0 auto;
  display: block;
  font-family: a-otf-midashi-mi-ma31-pr6n, serif;
  font-weight: 600;
  font-style: normal;
}

.page_title img{
  margin:0 auto;
  display:block;
  padding-top: 20px;
}

.page_title_mini{
  font-size: 2em;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  border-bottom: solid 5px orange;
}

.schedule{
  margin-top: 20px;
}

.schedule img{
  margin:0 auto;
  display:block;
  padding-top: 10px;
  width: 600px;
}

/*申し込み*/

.please_select_2{
  display: none;
}

.select{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

#select_mogi,#select_kikaku{
  width: 30%;
  height: 80px;
  line-height:80px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 35px;
  background-color: white;
  color:#808080;
  border:solid #808080 1px;

}

.campus_btn{
  width: 100%;
  height: 80px;
  line-height:80px;
  margin: 0 auto 20px auto;
  display: block;
  text-align: center;
  font-size: 35px;
  background-color: white;
  color:black;
  border:solid #808080 1px;
  position: relative;

}

.campus_btn a{
  text-decoration: none;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;

}


.mail_to_mogi{
  display: none;
}

.select_campus{
  margin-top: 10px;
}

.select a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}

.bullet{
  margin: 5px 0 5px 0;
  border: 1px solid #c0c0c0;
  margin-bottom: 10px;
  font-size: 1em;
  padding: 10px;

}

.bullet p{
  margin: 0 20px 0 10px;
  display: block;
}

.apply_kikaku,.apply_mogi{
  display: none;
}

.apply{
  padding-bottom: 40px;
}

.apply_schedule{
  margin: 0 auto;
  display: block;
  width: 70%;
}

.google_c{
  display: block;
  text-align: center;

}

.google_c img{
  width: 50%;
}

.link_btn{
  width: 100%;
  height: 70px;
  line-height:70px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 1.5em;
  position: relative;
  border-radius: 5px;
}

.link_btn p{
  display: block;
  color: white;
  text-decoration: none;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
}

.link_btn a{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent:-999px;
}

button{
  background-color: white;
  border:solid #808080 1px;
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 15px;
  font-size: 20px;
  border-radius: 10px;
}

.welcome{
  margin-top: 15px;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
}

.mini_title{
  display: flex;
  align-items: center;
  font-size: 1.3em;
  color: black;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
}

.mini_title p{
  padding-left: 10px;
  margin:10px 0px 10px 20px;
  display: block;
  border-left: solid white 3px;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;

}

.apply_kikaku_campus_btn{
  display: none;
}

.tutotial_keynote{
  display: block;
  margin: 0 auto;
  width:
}

/* お問い合わせ */
.inquiry_form{
  display: flex;
  margin-top: 30px;

}

.inquiry_btn{
  width: 30%;
  height: 80px;
  line-height:80px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 1.5em;
  background-color: black;
  color: white;
}

.inquiry_btn a{
  display: block;
  color: white;
  text-decoration: none;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
}


/* ニュース */
.news_box{
  margin-top: 30px;
}

.news_column{
  border: 1px solid #707070;
	width: 90%;
  margin: 0 auto 30px auto;
  position: relative;
}

.news_date {
  font-size: 0.8em;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
  margin: 10px 20px 0 20px;
}

.news_title {
  font-size: 1.5em;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
  margin: 0 20px 0 20px;
}

.news_content {
  font-size: 1em;
  margin: 0 20px 10px 20px;
  display: none;
  font-family: "Noto Sans JP"
}

.news_column span{
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
  color:#ccc;
}


/* よくある質問・申し込み */
.faq_kikaku,.faq_mogi{
  display: none;
}

.faq_question, .apply_list{
  font-size: 2em;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
  margin: 30px auto 0 auto;
  border-bottom: 1px solid #707070;
  width: 100%;
  position: relative;
}

.faq_question p, .apply_list p{
  margin: 0;
  display: block;
  width: 95%;
}

.faq_answer, .apply_process{
  font-size: 1em;
  margin: 0 20px 10px 20px;
  width: 100%;
  margin: 0 auto;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
  display: none;

}

.op_cl{
  position: absolute;
  bottom: 3px;
  right: 5px;
  color:#ccc;
}

.q_num{
  background-color: black;
  color: white;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.hidden{
  display: none;
}

.table_line{
  display: flex;
}

.table_cell_1{
  width: 25%;
  text-align: center;
}

.table_cell_2{
  width: 80%;
}

.continue_btn,.continue_2_btn{
  width: 300px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin: 20px auto 20px auto;
  font-size: 1.4em;
  border-radius: 5px;
}

.continue{
  display: none;
}

.continue_2{
  display: none;
}

iframe{
  width: 100%;
}

.line_qr{
  margin: 0 auto;
  display: block;
  width: 50%;
}

.bold{
  font-family: a-otf-midashi-mi-ma31-pr6n, serif;
  font-weight: 600;
  font-style: normal;

}

.under {
  text-decoration: underline;
}

