
body{
  margin: 0;
}

#black_wall{
  background-color: #1E3C91;
  z-index: 20;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: black;
}

#loading img{
  z-index: 21;
  width:100px;
  display: block;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

#index_contents_2{
  z-index: 10;
  background-color: white;
  position: absolute;
  top: 100vh;
  width: 100%;
  overflow-x: hidden;
}

#index_contents{
  position: relative;
  height: 100vh;
  width: 100%;
  pointer-events:none;
}

.container{
  max-width: 1000px;
  width: 60%;
  margin: 0 auto;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;

}

.main_img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position:  fixed;
  top: 0;
  z-index: -1;
}

.sp{
  display: none;
}

.pc img{
  width: 100vw;
}

.main_logo{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  z-index: 5;
}

.pc_logo img{
  width: 400px;
  display: inline-block;
}

.sp_logo{
  display: none;
}



.faq_kikaku,.faq_mogi{
}

.faq_question, .apply_list{
  font-size: 30px;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
  margin: 30px auto 0 auto;
  border-bottom: 1px solid #707070;
  width: 100%;
  position: relative;
}

.faq_question p, .apply_list p{
  margin: 0;
  display: block;
  width: 95%;
}

.faq_answer, .apply_process{
  font-size: 20px;
  margin: 0 20px 10px 20px;
  width: 90%;
  margin: 0 auto;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
  display: none;

}

.op_cl{
  position: absolute;
  bottom: 3px;
  right: 5px;
  color:#ccc;
}

.q_num{
  background-color: black;
  color: white;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}


.title{
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 200px;
  color: white;
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:25px;
  position: relative;
  z-index: 10;
}

.title_1{
  background-image: url("../pic/title_bg.jpg");
}

.title_2{
  background-image: url("../pic/title_bg_2.png");

}

.title_3{
  background-image: url("../pic/title_bg_3.jpg");

}

.title_4{
  background-image: url("../pic/title_bg_4.jpg");

}



.title::before{
	/* 透過した黒を重ねる */
	background-color: rgba(0,0,0,0.3);
	/* どの範囲に重ねるかを指定 */
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

.box{
  position: absolute;
  width: 100%;
}





.title_p{
  color: white;
  margin: 0 auto;
  text-align: center;
  font-family: a-otf-midashi-mi-ma31-pr6n, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
}

.message_box{
  display: flex;
  margin-bottom: 15px;
}

.message_photo{
  width: 20%;
}

.message_photo img{
  width: 100%;
  padding: 7px;
}

.message_paragraph{
  width: 75%;
  padding: 0 20px 0 20px;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;

}

.message_paragraph span{
  font-family: a-otf-midashi-mi-ma31-pr6n, serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  border-bottom: 1px solid #c0c0c0;
}

.name_sp{
  display: none;
}

.name_pc{
  display: block;
}


.hidden{
  display: none;
}

.pc_menu{
  display: flex;
  justify-content: center;
  position: fixed;
  top:100px;
  left: 0;
  right: 0;
  margin: auto;
}

.pc_menu p{
  margin: 10px;
  color: white;
  position: relative;
  z-index: 11;
  font-family: kozuka-gothic-pr6n, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.more{
  display: none;
}

.more_btn{
  width: 20%;
  height: 30px;
  margin: 10px auto;
  border-radius: 15px;
  line-height: 30px;
  text-align: center;
}

#less_btn{
  display: none;
}


.photo{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.photo img{
  width: 20%;
  margin: 0.5%;
}

.photo_big{
  background-color: rgba(0,0,0,0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  display: none;
  z-index: 25;
}

.photo_big img{
  max-width: 1000px;
  width: 40vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

}

footer{
  background-color: #1b3988;
  height: 150px;
  width: 100%;
  margin-top: 50px;
}

footer img{
  height: 50px;
  margin: 0 auto 0 auto;
  display: block;
  padding-top: 40px;
}

.btn{
  width: 50%;
  height: 50px;
  border-radius: 5px;
  margin: 15px auto;
  display: flex;
  position: relative;

}

.btn p{
  vertical-align: center;
  align-items: center;
  display: block;
  margin: 0 auto;
  line-height: 50px;
  font-family: a-otf-ryumin-pr6n, serif;
  font-weight: 300;
  font-style: normal;
}

.btn a{
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;

}

.twitter_blue{
  background-color: #00acee;
  color: white;
}

.instagram_pink{
  background-color: #dc143c;
  color: white;

}

.red{
  background-color: #dc143c;
  color: white;
}

.blue{
  background-color: #87ceeb;
  color: black;
}

.twitter-tweet{
  margin: 0 auto;
}

video{
  margin: 5px;
  width: 45%;
  text-align: center;
}

.videos{
  text-align: center;
  display: flex;
  justify-content: center;
}
